<h4>Summary: </h4>
<ul class="list-group list-unstyled p-3">
    <li>{{cookie.base}} base - {{priceFixed (findPrice availableBases cookie.base)}}</li>

    {{#each cookie.toppings}}
        <li class="">
            {{this}} - {{priceFixed (findPrice @root.availableToppings this)}}
            {{#if ../remove}}<a href="/config/remove/{{this}}" class="btn btn-danger btn-close"></a>{{/if}}
        </li>
    {{/each}}
</ul>

<p>Total: {{priceFixed summary}}</p>
